#done-recipes-grid {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 100px;


  .done-recipes-card {
    text-align: center;
    max-width: 150px;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(90, 90, 90, 0.17);
    border-radius: 20px;

    img {
      max-width: 150px;
      border-radius: 20px;

    }
    a {
      text-decoration: none;
      color: black;
    }

    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      padding-block: 15px;
    }
  }
}
