* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: min(600px, 100vw);
  margin: auto;
  word-wrap: break-word;
  background: rgba(243, 245, 246, 1)
  ;
}

img {
  max-width: 600px;
}
